
@{
    ViewBag.Title = "Không tìm thấy trang phù hợp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="404" class="page-not not-found bg_w">
    <div class="columns-container">
        <div class="container" id="columns">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="img-404 text-center">
                        <img src="/Content/Samshop/images/404.png" alt="Lỗi 404 không tìm thấy trang">
                    </div>
                    <div class="text-center"><a class="btn-outline back-to-col" href="/">Quay lại trang chủ</a></div>
                </div>
            </div>
        </div>
    </div>
</div>