
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đặt hàng thành công </title>
    <link href="~/Content/Samshop/css/plugins.css" rel="stylesheet" />
</head>
<body style="background-color: #eceeef;">
    <div class="jumbotron text-center" >
        <h1 class="display-3" style="font-size:55px;">Cảm Ơn Bạn Đã Mua Hàng!</h1>
        <p class="lead"><strong>Chúng tôi sẽ liên hệ với bạn sớm nhất sau khi nhận được đơn hàng của bạn</strong></p>
        <hr>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">Tiếp tục mua hàng</a>
        </p>
    </div>
</body>
</html>
