
@{
    ViewBag.Title = "404 Not Found";
}




<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="error-container">
            <div class="well">
                <h1 class="grey lighter smaller">
                    <span class="blue bigger-125">
                        <i class="ace-icon fa fa-sitemap"></i>
                        404
                    </span>
                    Page Not Found
                </h1>

                <hr />
                <h3 class="lighter smaller">Trang không hợp lệ</h3>

                <div>


                    <div class="space"></div>
                    <h4 class="smaller">Hãy thử một trong những cách sau:</h4>

                    <ul class="list-unstyled spaced inline bigger-110 margin-15">
                        <li>
                            <i class="ace-icon fa fa-hand-o-right blue"></i>
                            Kiểm tra lại url do lỗi đánh máy
                        </li>

                        <li>
                            <i class="ace-icon fa fa-hand-o-right blue"></i>
                            Đọc lại các hướng dẫn
                        </li>

                        <li>
                            <i class="ace-icon fa fa-hand-o-right blue"></i>
                            Load lại trang và khởi động lại trình duyệt
                        </li>
                    </ul>
                </div>

                <hr />
                <div class="space"></div>

                <div class="center">
                    <a href="javascript:history.back()" class="btn btn-grey">
                        <i class="ace-icon fa fa-arrow-left"></i>
                        Quay Lại
                    </a>

                    <a href="#" class="btn btn-primary">
                        <i class="ace-icon fa fa-tachometer"></i>
                        Home
                    </a>
                </div>
            </div>
        </div>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->

